[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"django" = "==2.2.2"
"pycrypto" = "*"
mysqlclient = "*"
django-ipware = "*"
django-cors-headers = "*"
uwsgi = "*"
gpxpy = "*"
requests = "*"
filelock = "*"
django-admin-ip-restrictor = "*"
sentry-sdk = "*"
piexif = "*"

[dev-packages]
django-debug-toolbar = "*"
v = {editable = true,version = "*"}
flake8 = "*"
pylint = "*"

[requires]
python_version = "3.6"
