[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"django" = "==2.2.1"
"pycrypto" = "*"
mysqlclient = "*"
django-ipware = "*"
django-cors-headers = "*"

[dev-packages]
django-debug-toolbar = "*"
v = {editable = true,version = "*"}

[requires]
python_version = "3.6"
